
<div class="container">
  <div class="columns">
    <div class="column col-6 centered">
      <%= form_for @book, html: { multipart: true } do |f| %>
        <div class="form-group">
            <%= f.label :name, "نالو", class:"form-label sindhi bold" %>
            <%= f.text_field :name, class:"form-input sindhi-noto", dir: "rtl", placeholder: "Name" %>

            <%= f.label :name_eng, "Title", class:"form-label" %>
            <%= f.text_field :name_eng, class:"form-input", placeholder: "Title" %>

            <%= f.label :author, "Author / Editor", class:"form-label" %>
            <%= f.text_field :author, class:"form-input", placeholder: "Author / Editor" %>

            <%= f.label :language, "Language", class:"form-label" %>
            <%= f.select :language, LanguageHelper.languages, {include_blank: "Select a language"}, class:"form-select" %>

            <%= f.label :publisher, "Publisher", class:"form-label" %>
            <%= f.text_field :publisher, class:"form-input", placeholder: "Publisher" %>

            <%= f.label :description_sindhi, "تعارف", class:"form-label sindhi bold" %>
            <%= f.text_area :description_sindhi, class:"form-input sindhi-noto", placeholder: "Sindhi description", dir: "rtl" %>

            <%= f.label :description_eng, "Intro", class:"form-label" %>
            <%= f.text_area :description_eng, class:"form-input", placeholder: "English description" %>

            <%= f.label :year, "Year", class:"form-label" %>
            <%= f.number_field :year, class:"form-input", placeholder: "Year" %>

            <%= f.label :attachment, "Attachment", class:"form-label" %>
            <%= f.file_field :attachment, class:"form-input" %>
            
            <br>

            
            Tags: <div class="tags" id="tags"> </div>
          
            <br>
            <label class="form-label" for="addNewTag">Add a new tag (press enter to add)</label>
            <input class="form-input" id="addNewTag">
            
            
            <div class="actions">
              <br>
              <%= f.submit "Submit", class: "btn btn-primary" %>
            </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
