<h1>A Lake of read and unread books</h1>
<h1 class="sindhi">پڙهيل توڙي نه پڙهيل ڪتابن جي ڍنڍ ـ</h1>
<div class="container grid-960">
  <div class="columns">
    <div class="column centered">
    
      <div class="input-group">
        <%= form_tag(books_path, :method => "get", id: "search-form", class:"input-group") do %>
          <%= select_tag :filter, options_from_collection_for_select(Category.order(:name), :id, :name, params[:filter]),  { prompt: "All" , class: "form-select", style: "min-width:40%"} %>
          <%= text_field_tag :search, params[:search], placeholder: "Find a book", class: "form-input", type: "text" %>
          <%= submit_tag "Search", class: "btn btn-primary input-group-btn" %>
          <%= link_to 'Reset', books_path, class: "btn btn-link" %>
        <% end %>
      </div>

      <table class="table table-hover">
        <thead>
          <tr>
            <th><%= sortable "name_eng", "Title" %></th>
            <th><%= sortable "author", "Author / Editor" %></th>
            <th class="hide-sm"><%= sortable "year", "Published" %></th>
            <th direction="rtl" class="sindhi"><%= sortable "author_sindhi", "ليکڪ / مرتب" %></th>
            <th direction="rtl" class="sindhi"><%= sortable "name", "نالو" %></th>
          </tr>
        </thead>

        <tbody>
          <% @books.each do |book| %>
            <tr>
              <td><%= link_to book.name_eng, book %></td>
              <td><%= link_to book.author, books_path(:search => book.author), class: "btn btn-link" %></td>
              <td class="hide-sm"><%= book.year or "Unknown" %></td>
              <td direction="rtl" class="sindhi"><%= link_to book.author_sindhi, book %></td>              
              <td direction="rtl" class="sindhi"><%= link_to book.name, book %></td>              
            </tr>
          <% end %>
        </tbody>
      </table>
      <br>
      <%= will_paginate @books %>
      <br>
      <%= link_to 'New Book', new_book_path, class: "btn btn-success" %>
  </div>
</div>
