<h1>A lake of read and unread books</h1>
<h1 direction="rtl" class="sindhi">پڙهيل توڙي نه پڙهيل ڪتابن جي ڍنڍ ـ</h1>

<div class="container grid-xl hide-md">
  <div class="columns">
    <div class="column centered">
      <p><b> Total books: <%= Book.count %></b></p>
      <div class="input-group">
        <%= form_tag(books_path, :method => "get", id: "search-form", class:"input-group", style: "min-width: 60%") do %>
          <%= select_tag :filter, options_from_collection_for_select(Category.order(:name), :id, :name, params[:filter]), {onchange: "$('#search-form').submit();", prompt: "All categories" , class: "form-select", style: "flex: 1"} %>
          <%= select_tag :filter_lang, options_for_select(LanguageHelper.languages, params[:filter_lang]), {onchange: "$('#search-form').submit();", prompt: "All languages" , class: "form-select", style: "flex: 1"} %>
          <%= text_field_tag :search, params[:search], placeholder: "Find a book", class: "form-input", type: "text", style: "flex: 1" %>
          <%= submit_tag "Search", class: "btn btn-primary input-group-btn" %>
          <%= link_to 'Reset', books_path, class: "btn btn-link" %>
        <% end %>
      </div>

      <table class="table table-hover">
        <thead>
          <tr>
            <th><%= sortable "name_eng", "Title" %></th>
            <th><%= sortable "author", "Author / Editor" %></th>
            <th class="hide-sm"><%= sortable "year", "Published" %></th>
            <th direction="rtl" class="sindhi"><%= sortable "author_sindhi", "ليکڪ / مرتب" %></th>
            <th direction="rtl" class="sindhi"><%= sortable "name", "نالو" %></th>
          </tr>
        </thead>

        <tbody>
          <% @books.each do |book| %>
            <tr>
              <td><%= link_to book.name_eng, book %></td>
              <td><%= link_to book.author, books_path(:filter_author => book.author) %></td>
              <td class="hide-sm"><%= book.year or "Unknown" %></td>
              <td direction="rtl" class="sindhi"><%= link_to book.author_sindhi, books_path(:filter_sindhi_author => book.author_sindhi) %></td>              
              <td direction="rtl" class="sindhi"><%= link_to book.name, book %></td>              
            </tr>
          <% end %>
        </tbody>
      </table>
      <br>
      <%= will_paginate @books %>
      <br>
      <%= link_to 'New Book', new_book_path, class: "btn", style: "color: #5755d9" %>
    </div>
  </div>
</div>
<br />

<div class="container grid-sm show-md">
  <div class="columns">
    <div class="column centered">
    <p><b> Total books: <%= Book.count %></b></p>
    
      <div>
        <%= form_tag(books_path, :method => "get", id: "search-form-mobile", class:"form-group") do %>
          <%= select_tag :filter, options_from_collection_for_select(Category.order(:name), :id, :name, params[:filter]), {onchange: "$('#search-form-mobile').submit();", prompt: "All categories" , class: "form-select"} %>
          <%= select_tag :filter_lang, options_for_select(LanguageHelper.languages, params[:filter_lang]), {onchange: "$('#search-form-mobile').submit();", prompt: "All languages" , class: "form-select"} %>
          <%= text_field_tag :search, params[:search], placeholder: "Find a book", class: "form-input", type: "text" %>
          <br/>
          <%= submit_tag "Search", class: "btn btn-primary input-group-btn", style:" margin: 0 auto;" %>
        <% end %>
      </div>
    <br />

    <% @books.each do |book| %>
      <div class="card">
          <a href=<%= book_path(book) %> class="card-image">
            <img src=<%= book.cover.url %> class="img-responsive" height="30%">
          </a>

          <div class="card-header">
            <h4 class="card-title" style="text-align: center;">
              <%= book.name_eng %>
            </h4>

            <div class="card-body" style="display: flex; justify-content: center;">
              <% book.categories.each do |category| %>
              <div style="flex: 1; flex-grow:0;">
                <label class="chip" style="display: inline-block;"><%= category.name %></label>
                </div>
              <% end %>
            </div>

            <div class="card-footer" style="justify-content: center; display: flex;">
              <% if book.attachment.exists? %>
                <%= link_to "<i class='icon icon-download centered'></i> Download".html_safe, book.attachment.url, class: "btn btn-link" %>
              <% end %>
            </div>
          </div>
      <br />
      
    </div>
    <% end %>
    <%= will_paginate @books, class: "pagination" %>
  </div>  
</div>
