<h1>Listing Books</h1>
<div class="container">
  <div class="columns">
    <div class="column col-8 centered">
      <div class="input-group">
        <%= form_tag(books_path, :method => "get", id: "search-form", class:"input-group") do %>
          <%= text_field_tag :search, params[:search], placeholder: "Find a book", class:"form-input", type:"text" %>
          <%= submit_tag "Search", class:"btn btn-primary input-group-btn" %>
          <%= link_to 'Reset', books_path, class:"btn btn-link" %>
        <% end %>
      </div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th><%= sortable "name_eng", "Title" %></th>
            <th><%= sortable "author", "Author / Editor" %></th>
            <th><%= sortable "year", "Published" %></th>
            <th direction="rtl" class="sindhi-noto"><%= sortable "نالو" %></th>
          </tr>
        </thead>

        <tbody>
          <% @books.each do |book| %>
            <tr>
              <td><%= link_to book.name_eng, book %></td>
              <td><%= link_to book.author, books_path(:search => book.author), class: "btn btn-link" %></td>
              <td><span class="label label-primary"><%= book.year or "Unknown" %></span></td>
              <td class="sindhi-noto"><%= link_to book.name, book %></td>              
            </tr>
          <% end %>
        </tbody>
      </table>
      <br>
      <%= link_to 'New Book', new_book_path, class: "btn btn-success" %>
  </div>
</div>
