<%= stylesheet_link_tag "books" %>

<div style="padding: 2rem;">
  <h1>A river of read and unread books</h1>
  <h1 direction="rtl" class="sindhi">پڙهيل توڙي نہ پڙهيل ڪتابن جي ندي۔</h1>
</div>

<div class="container grid-xl hide-md">
  <div class="columns">
    <div class="column centered">
      <div class="input-group" style="display:flex;">
        <%= search_form_for @q, id: "search-form", class:"input-group", style: "min-width: 60%" do |f| %>
          <%= f.select :language_eq, options_for_select(LanguageHelper.languages, @q.language_eq), { :include_blank => "Every Language" }, class: "form-select", style: "flex: 1" %>
          <%= f.select :categories_name_in, options_from_collection_for_select(Category.order(:name), :name, :name, @q.categories_name_in), { :include_blank => "Every Category" }, class: "form-select", style: "flex: 1" %>          
          <%= f.search_field :name_or_author_or_name_eng_or_author_sindhi_or_year_cont, placeholder: "Search", class: "form-input", type: "text", style: "flex: 1"  %>
          <%= f.search_field :publisher_cont, placeholder: "Publisher only", class: "form-input", type: "text", style: "flex: 1"  %>
          <%= f.submit 'Search', class: "btn btn-primary input-group-btn" %> 
        <% end %>
      </div>

      <table class="table table-hover">
        <thead>
          <tr>
            <th><%= sort_link(@q, :name_eng, "Name") %></th>
            <th><%= sort_link(@q, :author, "Author / Editor") %></th>
            <th class="hide-sm"><%= sort_link(@q, :year, "Published") %></th>
            <th direction="rtl" class="sindhi"><%= sort_link(@q, :author_sindhi, "ليکڪ / مرتب") %></th>
            <th direction="rtl" class="sindhi"><%= sort_link(@q, :name, "نالو") %></th>
          </tr>
        </thead>

        <tbody>
          <% @books.each do |book| %>
            <tr>
              <td><%= link_to book.name_eng, book %></td>
              <td><%= link_to book.author, books_path(:filter_author => book.author) %></td>
              <td class="hide-sm"><%= book.year_str or "Unknown" %></td>
              <td direction="rtl" class=<%= book.font_html_class %>><%= link_to book.author_sindhi, books_path(:filter_sindhi_author => book.author_sindhi) %></td>              
              <td direction="rtl" class=<%= book.font_html_class %>><%= link_to book.name, book %></td>              
            </tr>
          <% end %>
        </tbody>
      </table>
      <br>
      <%= will_paginate @books %>
      <br>
      <%= link_to 'New Book', new_book_path, class: "btn", style: "color: #5755d9" %>
    </div>
  </div>
</div>
<br />

<div class="container grid-sm show-md">
  <div class="columns">
    <div class="column centered">
    <p><b> Total books: <%= Book.count %></b></p>
    
      <div>      
        <%= search_form_for @q, id: "search-form-mobile", class:"form-group" do |f| %>
          <%= f.select :language_eq, options_for_select(LanguageHelper.languages, @q.language_eq), { :include_blank => "Every Language" }, class: "form-select" %>
          <%= f.select :categories_name_in, options_from_collection_for_select(Category.order(:name), :name, :name, @q.categories_name_in), { :include_blank => "Every Category" }, class: "form-select" %>          
          <%= f.search_field :name_or_author_or_name_eng_or_author_sindhi_or_year_cont, placeholder: "Search", class: "form-input", type: "text" %>
          <%= f.search_field :publisher_cont, placeholder: "Publisher only", class: "form-input", type: "text"  %>
          <%= f.submit 'Search', class: "btn btn-primary input-group-btn" %> 
        <% end %>
      </div>
    <br />

    <% @books.each do |book| %>
      <div class="card">
          <a href=<%= book_path(book) %> class="card-image">
            <img src=<%= book.cover.url.to_s %> class="img-responsive" height="30%">
          </a>

          <div class="card-header">
            <h4 class="card-title" style="text-align: center;">
              <%= book.name_eng %>
            </h4>

            <div class="card-body" style="display: flex; justify-content: center;">
              <% book.categories.each do |category| %>
              <div style="flex: 1; flex-grow:0;">
                <label class="chip" style="display: inline-block;"><%= category.name %></label>
                </div>
              <% end %>
            </div>

            <div class="card-footer" style="justify-content: center; display: flex;">
              <% if book.attachment.exists? %>
                <%= link_to "<i class='icon icon-download centered'></i> Download".html_safe, book.attachment.url, class: "btn btn-link" %>
              <% end %>
            </div>
          </div>
      <br />
      
    </div>
    <% end %>
    <%= will_paginate @books, class: "pagination" %>
  </div>  
</div>
