<h1>A lake of read and unread books</h1>
<h1 direction="rtl" class="sindhi">پڙهيل توڙي نه پڙهيل ڪتابن جي ڍنڍ ـ</h1>

<div class="container grid-xl hide-md">
  <div class="columns">
    <div class="column centered">
    
      <div class="input-group">
        <%= form_tag(books_path, :method => "get", id: "search-form", class:"input-group") do %>
          <%= select_tag :filter, options_from_collection_for_select(Category.order(:name), :id, :name, params[:filter]), {onchange: "$('#search-form').submit();", prompt: "All" , class: "form-select", style: "min-width:40%"} %>
          <%= text_field_tag :search, params[:search], placeholder: "Find a book", class: "form-input", type: "text" %>
          <%= submit_tag "Search", class: "btn btn-primary input-group-btn" %>
          <%= link_to 'Reset', books_path, class: "btn btn-link" %>
        <% end %>
      </div>

      <table class="table table-hover">
        <thead>
          <tr>
            <th><%= sortable "name_eng", "Title" %></th>
            <th><%= sortable "author", "Author / Editor" %></th>
            <th class="hide-sm"><%= sortable "year", "Published" %></th>
            <th direction="rtl" class="sindhi"><%= sortable "author_sindhi", "ليکڪ / مرتب" %></th>
            <th direction="rtl" class="sindhi"><%= sortable "name", "نالو" %></th>
          </tr>
        </thead>

        <tbody>
          <% @books.each do |book| %>
            <tr>
              <td><%= link_to book.name_eng, book %></td>
              <td><%= link_to book.author, books_path(:search => book.author) %></td>
              <td class="hide-sm"><%= book.year or "Unknown" %></td>
              <td direction="rtl" class="sindhi"><%= link_to book.author_sindhi, book %></td>              
              <td direction="rtl" class="sindhi"><%= link_to book.name, book %></td>              
            </tr>
          <% end %>
        </tbody>
      </table>
      <br>
      <%= will_paginate @books %>
      <br>
      <%= link_to 'New Book', new_book_path, class: "btn", style: "color: #5755d9" %>
    </div>
  </div>
</div>

<div class="container grid-sm show-md">
  <div class="columns">
    <div class="column centered">
    <br />
      <div>
        <%= form_tag(books_path, :method => "get", id: "search-form-mobile", class:"form-group") do %>
          <%= select_tag :filter, options_from_collection_for_select(Category.order(:name), :id, :name, params[:filter]), {onchange: "$('#search-form-mobile').submit();", prompt: "All" , class: "form-select"} %>
          
          <%= text_field_tag :search, params[:search], placeholder: "Find a book", class: "form-input", type: "text" %>
          <%= submit_tag "Search", class: "btn btn-primary input-group-btn" %>
        <% end %>
      </div>
    <br />

    <% @books.each do |book| %>
      <div class="card">
          <div class="card-header">
        <h4 class="card-title" style="display:inline;">
             <%= book.name_eng %>
            <div class="sindhi" style="display:inline; float:right;">
              <%= book.name %>
            </div>
          </h4>
          <div class="card-subtitle">
          by <%= book.author %>, written in <%= book.year %>
          <br />
          <% if book.language.present? %>
              In <%= book.language %>
            <% end %>
          </div>
        </div>
        <div class="card-body">
          <% book.categories.each do |category| %>
            <label class="chip"><%= category.name %></label>
          <% end %>
        </div>
        <div class="card-footer">
          <% if book.attachment.exists? %>
            <%= link_to "<i class='icon icon-download centered'></i> Download".html_safe, book.attachment.url, class: "btn btn-link" %>
          <% end %>
          <div style="float: right;">
            <%= link_to 'Show', book, class: "btn" %>
            <%= link_to 'Edit', edit_book_path(book), class: "btn btn-warning" %>
          </div>
          
        </div>
      </div>
      <br />
    <% end %>
      <br>
      <%= will_paginate @books, class: "pagination" %>
      
    </div>
  </div>
</div>
