<div class="container">
  <div class="columns">
    <div class="column col-8 centered">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title" style="display:inline;">
             <%= @book.name_eng %>
            <div class="sindhi" style="display:inline; float:right;">   <%= @book.name %> </div>
          </h4>
          <h6 class="card-subtitle">by <%= @book.author %> in <label class="label"><%= @book.year %></label>
            <br>Published by <%= @book.publisher %>
            <br><%= @book.language %>
          </h6>
          Tags: 
          <% @book.categories.each do |category| %>
            <label class="chip"><%= category.name %></label>
          <% end %>
          <br><br>
          <% if @book.attachment.exists? %>
          <div class="tile tile-centered">
            <div class="tile-icon">
                <i class="icon icon-download centered"></i>
              </div>
            <div class="tile-content">
              <div class="tile-title"><%= link_to @book.attachment_file_name, @book.attachment.url %></div>
              <div class="tile-subtitle"> <%= number_to_human_size(@book.attachment_file_size) %> · <%= @book.attachment_updated_at.to_date %></div>
            </div>
          </div>
          <% end %>
        </div>

        <div class="columns">
          <div class="column">
            <div class="card-body">
              <%= @book.description_eng %>
            </div>
          </div>
          <div class="divider-vert"></div>
          <div class="column">
            <div class="card-body sindhi">
              <%= @book.description_sindhi %>
            </div>
          </div>
          </div>
      </div>
    <br>
    <%= link_to 'Edit', edit_book_path(@book), class: "btn btn-warning" %>
    <%= link_to 'Back', books_path, class: "btn btn-default" %>
    </div>
  </div>
</div>
