<div class="container grid-xl hide-md">
  <div class="columns">
    <div class="column">
      <div class="card">
        <div class="card-image">
          <img src=<%= @book.cover.url %> class="img-responsive">
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">

        <div class="card-header">
          <h4 class="card-title">
             <%= @book.name_eng %>
          </h4>
          <h6 class="card-subtitle">by <%= @book.author %> in <label class="label"><%= @book.year_str %></label>
            <p>Published by <%= @book.publisher %></p>
            <% if @book.translator.present? %>
                <p style="margin: 0">Translated by <%= @book.translator %></p>
            <% end %>
            <% if @book.language.present? %>
                <p style="margin: 0">Language: <%= @book.language %></p>
            <% end %>
            <% if @book.isbn.present? %>
              <br><small class="label label-primary">ISBN</small> <span class="number"><%= @book.isbn %></span>
            <% end %>
          </h6>

          <%= @markdown.render(@book.description_eng).html_safe %>

          <% if @book.attachment.exists? %>
            <div class="tile tile-centered">
              <div class="tile-icon">
                  <i class="icon icon-download centered"></i>
                </div>
              <div class="tile-content">
                <div class="tile-title"><%= link_to "Download", @book.attachment.url, class: "umami--click--download-button" %></div>
                <div class="tile-subtitle"> <%= number_to_human_size(@book.attachment_file_size) %> · <%= @book.attachment_updated_at.to_date %></div>
              </div>
            </div>
          <% end %>
          <br />
          <% @book.categories.each do |category| %>
            <label class="chip"><%= category.name %></label>
          <% end %>
        </div>
      </div>
    <br/>
      <div class="card">

        <div class="card-header">
          <h4 class="card-title sindhi">
             <%= @book.name %>
          </h4>
        </div>
        <div class="card-body sindhi">
          <%= @book.description_sindhi %>
        </div>
        <div class="card-body">
          <%= link_to 'Edit', edit_book_path(@book), class: "btn btn-warning" %>
            <% if current_user.admin? %> 
              <%= link_to 'Delete', @book, method: :delete, class: "btn btn-danger", :data => {:confirm => 'Are you sure?'} %>
            <% end %>
            <%= link_to 'Back', books_path, class: "btn btn-default" %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container grid-sm show-md">
    <img src=<%= @book.cover.url %> class="img-responsive">

    <br/>
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">
          <%= @book.name_eng %>
        </h4>
        <h6 class="card-subtitle">by <%= @book.author %> in <label class="label"><%= @book.year_str %></label>
          <p>Published by <%= @book.publisher %></p>
          <% if @book.translator.present? %>
              <p style="margin: 0">Translated by <%= @book.translator %></p>
          <% end %>
          <% if @book.language.present? %>
              <p style="margin: 0">Language: <%= @book.language %></p>
          <% end %>
          <% if @book.isbn.present? %>
            <br><small class="label label-primary">ISBN</small> <span class="number"><%= @book.isbn %></span>
          <% end %>
        </h6>

        <%= @markdown.render(@book.description_eng).html_safe %>

        <% if @book.attachment.exists? %>
          <div class="tile tile-centered">
            <div class="tile-icon">
                <i class="icon icon-download centered"></i>
              </div>
            <div class="tile-content">
              <div class="tile-title"><%= link_to "Download", @book.attachment.url, class: "umami--click--download-button" %></div>
              <div class="tile-subtitle"> <%= number_to_human_size(@book.attachment_file_size) %> · <%= @book.attachment_updated_at.to_date %></div>
            </div>
          </div>
        <% end %>
        <br />
        <% @book.categories.each do |category| %>
          <label class="chip"><%= category.name %></label>
        <% end %>
      </div>
    </div>
    <br/>
    <div class="card">
      <div class="card-header">
        <h4 class="card-title sindhi">
            <%= @book.name %>
        </h4>
      </div>
      <div class="card-body sindhi">
        <%= @book.description_sindhi %>
      </div>
      <div class="card-body">
        <%= link_to 'Edit', edit_book_path(@book), class: "btn btn-warning" %>
          <% if current_user.admin? %> 
            <%= link_to 'Delete', @book, method: :delete, class: "btn btn-danger", :data => {:confirm => 'Are you sure?'} %>
          <% end %>
          <%= link_to 'Back', books_path, class: "btn btn-default" %>
      </div>
    </div>
</div>
