<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @thought.content %>
</p>

<p>
  <strong>Rtl:</strong>
  <%= @thought.rtl %>
</p>

<%= link_to 'Edit', edit_thought_path(@thought) %> |
<%= link_to 'Back', thoughts_path %>
