<!DOCTYPE html>
<html>
<head>
  <title>Library</title>
  <%= render 'application/favicon' %>
  <%= stylesheet_link_tag 'spectre.min.css' %>
  <%= stylesheet_link_tag 'spectre-icons.min.css' %>
  <%= stylesheet_link_tag 'spectre-exp.min.css' %>
  <%= stylesheet_link_tag "awesomplete.css" %>
  <%= javascript_include_tag "awesomplete.min.js" %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap" rel="stylesheet"> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <%= csrf_meta_tags %>
  <script async defer data-website-id="8c2bb5bf-6b31-4241-85e4-d2fbd93b0d4d" src="https://analytics.antilibrary.net/umami.js"></script>
</head>

<body>
  <section class="section section-header">
    <section class="grid-header container">
      <nav class="navbar">
        <section class="navbar-section">
          <%= link_to 'Home ', root_path, class:"navbar-brand mr-10" %>
          <% if current_user %>
            <%= link_to "<i class='fa fa-book'></i> Books".html_safe, books_path, class: "btn btn-link" %>
            <% if current_user.admin? %>
              <%= link_to "<i class='fa fa-tag'></i> Categories".html_safe, categories_path, class: "btn btn-link" %>
            <% end %>
          <% end %>
        </section>
        <section class="navbar-section">
          <% if current_user %>
            <% if current_user.admin? %>
              <%= link_to "<i class='fa fa-user-times fa-fw'></i> Unconfirmed users".html_safe, inactive_path, class: "btn btn-link hide-lg" %>
              <%= link_to "<i class='fa fa-user fa-fw'></i> Users".html_safe, users_path, class: "btn btn-link hide-lg" %>
            <% end %>
            <%= link_to "<i class='fa fa-key fa-fw'></i> Change password".html_safe, change_password_path, class: "btn btn-link hide-lg" %>
            <%= link_to "<i class='fa fa-sign-out fa-fw'></i>".html_safe, logout_path, class: "btn btn-link" %>
          <% else %>
            <%= link_to "<i class='fa fa-user-plus fa-fw'></i> Register".html_safe, register_path, class: "btn btn-link" %>
            <%= link_to "<i class='fa fa-sign-in fa-fw'></i> Sign in".html_safe, login_path, class: "btn btn-link" %>
          <% end %>
        </section>
      </nav>
    </section>
  </section>
  <br>
  <div class="container grid-lg">
     <%= flash_messages %>
  </div>
  <br>
<%= yield %>

</body>
</html>
