<!DOCTYPE html>
<html>
<head>
  <title>Library</title>
  <%= render 'application/favicon' %>
  <%= stylesheet_link_tag 'spectre.min.css' %>
  <%= stylesheet_link_tag 'spectre-icons.min.css' %>
  <%= stylesheet_link_tag 'spectre-exp.min.css' %>
  <%= stylesheet_link_tag "awesomplete.css" %>
  <%= javascript_include_tag "awesomplete.min.js" %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap" rel="stylesheet"> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <%= csrf_meta_tags %>
  <script async defer data-website-id="8c2bb5bf-6b31-4241-85e4-d2fbd93b0d4d" src="https://analytics.antilibrary.net/umami.js"></script>
</head>

<body>
  <section class="section section-header">
    <section class="grid-header container">
      <div class="off-canvas">
        <!-- off-screen toggle button -->
        <btn id="nav-toggle" class="off-canvas-toggle btn btn-link btn-action" href="#">
          <i class="icon icon-menu"></i>
        </btn>

        <div id="sidebar-id" class="off-canvas-sidebar">
          <section class="navbar-section">
            <ul>
                <li><%= link_to fa_icon('home', text: 'Home'), root_path, class:"navbar-brand" %></li>
                
                <% if current_user %>
                  <li><%= link_to fa_icon('book-open', text: 'Books'), books_path, class: "btn btn-link" %></li>
                  <li><%= link_to fa_icon('info-circle', text: 'About'), about_path, class: "btn btn-link" %></li>
                  
                  <% if current_user.admin? %>
                    <div class='divider'> </div>
                    <li><%= link_to fa_icon('tags', text: 'Categories'), categories_path, class: "btn btn-link" %></li>
                    <li><%= link_to fa_icon('brain', text: 'Thoughts'), thoughts_path, class: "btn btn-link" %></li>
                    <li><%= link_to fa_icon('user-shield', text: 'Unconfirmed users'), inactive_path, class: "btn btn-link" %></li>
                    <li><%= link_to fa_icon('users', text: 'Users'), users_path, class: "btn btn-link" %></li>
                  <% end %>
                  
                <% end %>
            <ul>
          </section>
        </div>

        <btn id="nav-toggle-remove" class="off-canvas-overlay" href="#"></btn>

        <div class="off-canvas-content">
          <!-- off-screen content -->
          <nav class="navbar">
            <section class="navbar-section hide-lg">
              
              <% if current_user %>
                  <%= link_to fa_icon('book-open', text: 'Books'), books_path, class: "btn btn-link" %>
                  <% if current_user.admin? %>
                    <%= link_to fa_icon('tags', text: 'Categories'), categories_path, class: "btn btn-link" %>
                    <%= link_to fa_icon('brain', text: 'Thoughts'), thoughts_path, class: "btn btn-link" %>
                  <% end %>
                <% end %>
            </section>
            <section class="navbar-section">
              <%= link_to fa_icon('info-circle', text: 'About'), about_path, class: "btn btn-link" %>
              <% if current_user %>
                <%= link_to fa_icon('sign-out-alt'), logout_path, class: "btn btn-link" %>
              <% else %>
                <%= link_to fa_icon('user-plus', text: 'Register'), register_path, class: "btn btn-link" %>
                <%= link_to fa_icon('sign-in-alt', text: 'Sign in'), login_path, class: "btn btn-link" %>
              <% end %>
            </section>
          </nav>
        </div>
  </div>
      
    </section>
  </section>
  <br>
  <div class="container grid-lg">
     <%= flash_messages %>
  </div>
  <br>
<%= yield %>

</body>
</html>
